<h2>Add a new movie to <i><%= current_user.first_name %>'s</i> list</h2>

<%= render partial: "/errors", locals: {record: @movie } %>

<%= form_for @movie do |f| %>
<%= f.label :title %>
<%= f.text_field :title %><br>
<%= f.label :duration %>
<%= f.text_field :duration %><br>
<%= f.label :budget%>
<%= f.number_field :budget %><br>
<%#= f.file_field(:movie, :image, accept: 'image/png,image/gif,image/jpeg')%>
<%= f.label "Choose an artist from a list" %><br>
<%= f.collection_select(:artist_id, Artist.all, :id, :name, prompt: true) %><br>
<%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "Select a genre") %><br>
<%#= fields_for :genre do |genre_f| %>
<%#= genre_f.label :genre %>
<%#= genre_f.text_field :name %>
<%# end %>
<%#= f.hidden_field :current_user_id, value: current_user.id %>
<%#= f.hidden_field :genre_id, value: @genre.id %>
<%= f.submit "Add a movie" %>
<% end %>
