<!DOCTYPE html>
<html>
  <head>
    <title>Cinemania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <main class="wrapper">
    <%= render "layouts/navbar"%>
    <%= yield %>
  </main>
  </body>
  <footer>
    </footer>
</html>
